@import "tailwindcss";

@theme inline {
  --font-text: var(--font-text);
  --font-style: var(--font-style);
  --color-white: #f5f7f2;
  --color-black: #010101;
  --color-sage: #98a57e;
}
html {
  scroll-behavior: smooth;
}
